<div id="<%= comment.id %>" class="card">
  <div class="card-body">
    <p><%= comment.content %></p>
    <footer class="blockquote-footer text-right"><%= comment.user.name %></footer>
  </div>
  <% if can? :update, comment %>
    <div class="card-footer actions text-right">
      <% if can? :update, User %>
        <%= link_to 'User profile', user_path(comment.user) %>
      <% end %>
      <%= link_to 'Edit', edit_comment_path(comment), data: { remote: true } %>
      <%= link_to 'Delete', comment_path(comment), class: "delete", name: comment.id, data: { remote: true, method: :delete} %>
    </div>
  <% end %>
</div>