<div id="<%= portfolio.id %>" class="card portfolio">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6 text-center text-sm-left">
        <%= link_to portfolio_path(portfolio), class: 'portfolio-remove', data: { remote: true, method: :patch, confirm: 'Do you want to remove the coin from your portfolio?' } do %>
          <i class="fa fa-minus"></i>
        <% end %>
        <%= image_tag "#{portfolio.coin.name.downcase}.png" %>
        <%= link_to portfolio.coin.name, coin_path(portfolio.coin) %>
      </div>
      <div class="price col-sm-6 text-center text-sm-right">
        Change since following: <%= portfolio.coin.price_change(time_frame(portfolio.updated_at)) %>%
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= line_chart portfolio.coin.daily_price(portfolio.updated_at), min: nil, curve: false %>
  </div>
</div>