<div class="header row">
  <div id="<%= @user.id %>" class="col-sm-8 text-left">
    <h3>
      <%= @user.name %> (<%= @user.role %> banned for <span class="ban-number"><%= pluralize(@user.ban, 'day') %></span>)
    </h3>
  </div>
  <div class="col-sm-4">
    <%= link_to 'Ban User', edit_user_path(@user), class: 'btn btn-warning btn-sm', data: { remote: true } %>
  </div>
  <div class="col-12 text-left">
    <h5><%= @user.email %></h5>
  </div>
</div>
<div class="comments-container">
  <%= render @user.comments %>
</div>

<%= render 'shared/modal' %>