<div id="<%= @coin.id %>" class="d-flex justify-content-between align-items-end">
  <h1>
    <% if can? :create, Portfolio %>
      <% if followed?(@coin) %>
        <%= link_to coin_portfolios_path(@coin), class: 'btn btn-warning btn-sm follow', data: { remote:true, method: :post } do %>
          <i class='fas fa-minus'></i>
        <% end %>
      <% else %>
        <%= link_to coin_portfolios_path(@coin), class: 'btn btn-outline-warning btn-sm follow', data: { remote:true, method: :post } do %>
          <i class="fas fa-plus"></i>
        <% end %>
      <% end %>
    <% end %>
    <%= @coin.name %>
  </h1>
  <h3>
    <%= @coin.price_change(time_frame) %>% (24 hours)
  </h3>
</div>
<p>
  <%= @coin.description %>
</p>

<%= line_chart @coin.daily_price, min: nil, curve: false %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Market</th>
      <th>Price</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>24h high</th>
      <th>24h low</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= link_to market.name, market.url %></td>
        <% latest_data(@coin, market).each do |detail| %>
          <td><%= detail %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

<% if user_signed_in? %>
  <% if can? :create, Comment %>
    <%= render 'shared/comments_form', {coin: @coin, comment: @comment} %>
  <% else %>
    <div class="alert alert-danger" role="alert">
      You can't leave comments because you have been banned for <%= pluralize(current_user.ban, 'day') %>.
    </div>
  <% end %>
<% end %>


<h3 class="mt-3">Comments:</h3>
<div class="comments-container mt-2">
  <%= render @comments %>
</div>